.box {
    border-color: black;
    border-style: solid;
    border-radius: 6px;
    margin-bottom: 2vh;
    margin-top: 2vh;
}
.photo {
    height: 200px;
    width: 200px;
    margin-bottom: 2vh;
    border-radius: 2px;
}
/* This is so the search bar and button get displayed on the same line. */
.form-control {
    display: inline;
}
#image {
    margin-bottom: 50px;
}
#name {
    border-radius: 80px;
    width: 300px;
}
#submit {
    border-radius: 60px;
}

/* This is so that the submit button looks nice on mobile in relation to the other objects on the screen */
@media screen and (max-width: 375px) {
    #submit {
      margin-top: 2vh;
    }
  }